[submodule "public"]
	path = public
	url = git@github.com:domgoodwin/domgoodwin.github.io.git
	branch = master

[submodule "themes/hugo-ficurinia"]
	path = themes/hugo-ficurinia
	url = git@gitlab.com:gabmus/hugo-ficurinia.git
