{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

  {{ partial "hero.html" . }}
  <article class="single" itemscope itemtype="http://schema.org/Blog">
  <section class="about-me">
  <h2 class="headline">About me</h1>
<p>Dom Goodwin</p>
<p>Technologies I'm into: Terraform, Vault, Docker</p>
<p>See what I'm playing around with in <a href="http://domgoodw.in/post/">posts</a></p>
<h3>Platforms:</h3>
<p>
  <ul class="social-icons">
      <li><a href="https://twitter.com/domgoodwin_" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/dom-goodwin-40919b74/" class="social-icon"> <i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://github.com/domgoodwin/" class="social-icon"> <i class="fab fa-github"></i></a></li>
      <li><a href="https://keybase.io/domgoodwin" class="social-icon"> <i class="fab fa-keybase"></i></a></li>
  </ul></p>
 <img height="125px" src="img/logo_cka.png" alt="CKA">
</section>
</article>

  <!-- <div class="article-list">
    {{ range first 3 (where .Data.Pages "Section" "post") }}
      {{ partial "article-list-item.html" . }}
    {{ end }}
  </div> -->

{{ with .Site.Taxonomies.categories }}

  <h1 class="headline">Categories</h1>

  <section class="categories">
    {{ range $name, $value := . }}
    <h2 class="category">
      <a href="{{ $baseurl }}categories/{{ $name | urlize }}">{{ title $name }}</a>
      <small>({{ .Count }})</small>
    </h2>
    {{ end }}
  </section>

{{ end }}

{{ with .Site.Taxonomies.tags }}

  <h1 class="headline">Tags</h1>

  <section class="tags">
    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}

</main>

<style>
    @import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
    ul {
        padding:0;
        list-style: none;
    }
    .footer-social-icons {
        width: 350px;
        display:block;
        margin: 0 auto;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        margin-top: 10px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 100px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
    .fa-twitter {
        padding:10px 12px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-rss {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-rss:hover {
        background-color: #eb8231;
    }
    .fa-linkedin {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }    
    .fa-github {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #a29e9e;
    }
    .fa-keybase {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-keybase:hover {
        background-color: #ff6f21;
    }
    h1.site-title {
      margin-top: 0px !important;
    }
</style>
